name: Workflow memory

on:
  push:
    branches:
      - develop

jobs:
  test-memory:
    runs-on: self-hosted

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Test JPG files
      run: |
        for file in $(find . -name "*.jpg"); do
          result=$(file "$file")

          if [[ "$result" != *"JPEG image data"* ]]; then
            echo "$file est corrompu, remplacement..."

            cp /home/dev/image/canard.jpg "$file"
          else
            echo "$file est valide."
          fi
        done

    - name: Commit changes if any
      run: |
        git config --global user.name 'destrujojo'
        git config --global user.email 'destrujojo@gmail.com'

        if git diff --quiet; then
          echo "Aucune modification détectée."
        else
          git add .
          git commit -m "Remplacement des fichiers jpg corrompus"
          git push origin develop
        fi

  build-memory:
    runs-on: self-hosted
    needs: test-memory

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2
      - name: Build image docker
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/memory .

  push-memory:
    runs-on: self-hosted
    needs: build-memory

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2

      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
      - name: Push image docker dans docker hub
        run: docker push ${{ secrets.DOCKER_USERNAME }}/memory
  deploy-memory:
    runs-on: self-hosted
    needs: push-memory

    steps:
      - name: connexion ssh
        run: |
            echo "dev" | ssh dev@127.0.0.1 << EOF
              echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
              docker pull ${{ secrets.DOCKER_USERNAME }}/memory:latest
              docker compose down || true
              docker compose up -d
            EOF
